<!-- <header id="header" style="text-align: center">
  <h1>HTML Form</h1>
</header>
<div class="container">
  <div class="form-card">
    <h4>Employee Form</h4>

    <div class="form-control">
      <form name="empForm" id="empFormId">
        <label id="">Full Name</label>
        <input type="text" name="fullName" id="fullNameId" />
        <span id="nameError"></span>

        <label>Age</label>
        <input type="number" name="empAge" id="empAgeId" min="1" max="100" />
        <span id="ageError"></span>

        <label>Email</label>
        <input type="text" name="empMail" id="empMailId" />
        <span id="emailError"></span>

        <label>New Password</label>
        <input type="password" name="newPass" id="pass"/>
        <span id="passError"></span>

        <label>Confirm Password</label>
        <input type="password" name="confirmPass" id="Cpass" />
        <span id="CpassError"></span>

        <span id="name"></span>
        <br /><br />
        <button type="submit" >Submit</button>
      </form>
    </div>
  </div>
</div> -->

<!-- <app-display></app-display> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">    
      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['display']">Display</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Create</a>
      </li>
      
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
