<div class="container">
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Topic</th>
            <th scope="col">Progress</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ Cobj1.id  }}</th>
            <td>{{ Cobj1.topicName  }}</td>
            <td>{{ Cobj1.status  }}</td>
          
          </tr>
          <tr>
            <th scope="row">{{ Cobj2.id  }}</th>
            <td>{{ Cobj2.topicName  }}</td>
            <td>{{ Cobj2.status  }}</td>
          
          </tr>
         
        </tbody>
      </table>
</div>
