
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Duration</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ course1.name }}</th>
            <td>{{ course1.duration }}</td>
            <td>{{ course1.startDate }}</td>
            <td>{{ course1.endDate }}</td>
          </tr>
         
        </tbody>
      </table>
</div>
